/*BUTTONS*/
.button--contact {
    float: left;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 18px;
    background-color: transparent;
    color: var(--second-color);
    border: 2px solid var(--second-color);
    padding: 0.75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: 20px;
}
.button--contact:hover {
    color: #fff;
    border: 2px solid #fff;
}

.button--cv {
    float: right;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 18px;
    background-color: transparent;
    color: #10ffab;
    border: 2px solid #10ffab;
    padding: 0.75rem 1.5rem;
    font-weight: var(--font-semi);
    border-radius: 20px;
}
.button--cv:hover {
    color: var(--second-color);
    border: 2px solid var(--second-color);
}
