$sectionColor: #4070f4;
$textColor: #a9d6f0;
$titleColor: #fffa65;
$inputColor: #000000;
$lightText: #f27d8e;
$lightSection: #c82238;
$greenColor: #10ffab;
$grayColor: #efebeb;
$darkGray: #7b7b7b;

$darkBackground: url("../images/background2.jpg");
$lightBackground: url("../images/whitebackground.jpg");

$bigFontsize: 3rem;
$h2Fontsize: 2rem;
$largeFontsize: 20px;
$mediumFontsize: 18px;
$normalSize: 1rem;

$zBack: -10;
$zNormal: 1;
$zTooltip: 10;
$zFixed: 100;
